/* Layout Styles */



/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 15px;  /* Khoảng cách giữa các nút phân trang */
}

.pagination a {
    padding: 10px 15px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #e67e22;  /* Màu nền thay đổi khi hover */
}

.pagination .active {
    background-color: #e67e22;
    cursor: default;  /* Khóa nút phân trang hiện tại */
}
