/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    font-size: 0.9em;
    width: 100%;
    margin-top: auto;
}
